<div data-page="home" class="page toolbar-through page-home">
    <!-- Index search link -->
    <form class="searchbar index-search">
        <div class="searchbar-input">
            <input type="search" placeholder="填写品种名称，例如黑鱼" class="index-search-link">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <!-- Scrollable page content -->
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="row list-block media-list">
            <div class="col-50">
                <a href="" class="list-block media-list">
                    <div class="item-content home-chushou">
                        <div class="item-media iconfont icon-qiugou">
                            <!-- <img src="./img/ic_home_buy.png" alt="" width="50"> -->
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row text-hidden">出售大厅</div>
                            <div class="item-subtitle">看看别人在卖什么</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-50 last-child">
                <a href="" class="list-block media-list">
                    <div class="item-content home-qiugou">
                        <div class="item-media iconfont icon-edit">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row text-hidden">求购大厅</div>
                            <div class="item-subtitle">看别人想买什么</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- carefully chosen Fingerling -->
        <div class="chosen-fingerling">
            <div class="home-content-title iconfont icon-edit">精选鱼种</div>
            <div class="chosen-fingerling-list">
                <div class="list-block media-list row">
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="img/ic_category_commonfish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">常见鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="img/ic_category_goodfish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">名优鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_crabshrimp.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">螃蟹</div>
                        </div>
                    </a>
                </div>
                <div class="list-block media-list row">
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_turtle.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">龟鳖</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_seafish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">海水鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_babyfish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">水产种苗</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- use ajax get date. -->
        <div class="ajax-content">
            <!-- home cat list -->
            <div class="home-cat-list">
                <div class="home-content-title iconfont icon-edit">大家都在看</div>
                <div class="cat-list-foreach">
                    <div class="row cat-list-info">
                        <div class="col-30"><img src="http://yumaimai.img-cn-qingdao.aliyuncs.com/img/fish_type_img/10水产苗种/10005-鲤鱼苗.jpg@1e_1c_2o_0l_110h_110w_90q.src" alt=""></div>
                        <div class="col-70">
                            <div class="cat-list-title row">
                                <div class="col-60 goods-name">黑鱼</div>
                                <div class="col-40 goods-price">电联或方面教育</div>
                            </div>
                            <div class="row cat-list-text">
                                <div class="col-70 goods-weight">1斤以上</div>
                                <div class="col-30 goods-create-time">昨天发布</div>
                            </div>
                            <div class="cat-list-address">
                                <span>王先生</span> 贵州省贵阳市
                            </div>
                            <div class="cat-list-tags view">
                                <span class="iconfont icon-v button">实名认证</span>
                                <span class="button">水产养殖</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-loading"></div>
    </div>
    <div class="toolbar">
        <div class="toolbar-inner">
            <!-- Toolbar links -->
            <a href="./views/home.html" class="link active no-animation">鱼大大</a>
            <a href="./views/infomation.html" class="link">发布信息</a>
            <a href="./views/user.html" class="link">个人中心</a>
        </div>
    </div>
</div>
